*/.nfs*
*/*.swp
*/*/*.swp
*/*_old
*egg*
*log
*-gnu.so
.*.swp
.ipynb_checkpoints
.vscode
apocharmm.cpython*.so
build*
build/*
charmm/__pycache__/
charmm/apocharmm.cpython-39-x86_64-linux-gnu.so
charmm/apocharmm.cpython-37m-x86_64-linux-gnu.so
debug*
debug/*
docs/build/*
docs/Doxyfile.out
docs/latex
docs/source/_autosummary/*.rst
docs/build/*
docs/Doxyfile.out
docs/source/_autosummary
examples/**/*.log
examples/*.MBAR.out
examples/**.txt
examples/.ipynb_*
examples/__pycache__/*
examples/out/*
examples/freeenergy/out/*
examples/sai_params**
examples/sai_params*/*
examples/slurm*
examples/tutorial/*.txt
examples/tutorial/*.dcd
examples/tutorial/*.res
examples/freeenergy/out/*
examples/run.slurm
felix/**
felix**/**
nsight/*
python_old
python_old/*
python/__pycache__/
release*
release/*
slurm-*
slurm/**
tags
test/data/waterbox_324k.psf
test/mwe/out.txt
test/pytest/__pycache__
test/pytest/out/*
test/pytest/*res
*.out
*.rst
CMakeUserPresets.json
dist
dist*
dist/*
compile.sh
clean.sh
dyn_form.out

new_build*
new_build/*
